@font-face {
	font-family: Brandon;
	src: url('./fonts/BrandonText_Regular.otf') format('opentype');
}

@font-face {
  font-family: Brandon-Med;
  src: url('./fonts/BrandonText_Medium.otf') format('opentype');
}

body {
    font-family: Brandon;
  }

#menuAndRelated {
  margin: center;
  width: 500px; 
  margin:0 auto;
  margin-top: 1100px;
  margin-left: 15%;
}

#reservations {
    position: relative;
    top: 8px;
    width: 0;
    height: 0;
  }

#reviews {
  margin: center;
  width:800px; 
  margin:0 auto;
  margin-left: 15%;

}

